[submodule "lib/CMSIS"]
	path = lib/CMSIS
	url = https://github.com/ARM-software/CMSIS_6.git
[submodule "lib/stm32f3xx_cmsis"]
	path = lib/stm32f3xx_cmsis
	url = https://github.com/STMicroelectronics/cmsis_device_f3.git
[submodule "lib/FreeRTOS"]
	path = lib/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS.git
